<section class="post-container card">
  <article class="post">
    <h2 class="post__title">{{ post.title }}</h2>
    <p class="post__content">
      {{ post.content }}
    </p>
  </article>

  <aside class="post__author">
    <a href="#">
      <span class="author__imagecontainer image-container">
        <img src="../../assets/images/user2.png" alt="user profile image" />
      </span>
      <span class="author__username">{{ post.author.username }}</span>
    </a>

    <button class="author__follow-btn btn bg-green" (click)="followingToggle()">
      <span *ngIf="post.author.following; then unfollow; else follow"></span>

      <ng-template #follow>Follow</ng-template>
      <ng-template #unfollow>Unfollow</ng-template>
    </button>
  </aside>

  <footer>
    <ul>
      <li>X Comments</li>
      <li>Share</li>
      <li>Favourite</li>
    </ul>
  </footer>
</section>
