<section class="post-container card">
  <article class="post">
    <h2 class="post__title">Post Title</h2>
    <p class="post__content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia,
      perspiciatis velit at tempora officiis quae laborum. Dolores quidem
      aliquid nisi dolor id nostrum praesentium ex aut beatae! Cumque, illum
      omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Asperiores, officia repellat iusto ab qui aut quaerat ratione quisquam!
      Voluptatum libero nihil culpa excepturi pariatur, voluptates animi ad qui
      ipsum illo.
    </p>
  </article>

  <aside class="post__author">
    <a href="#">
      <span class="author__imagecontainer image-container">
        <img src="../../assets/images/user2.png" alt="user profile image" />
      </span>
      <span class="author__username">John Doe</span>
    </a>

    <a href="#" class="author__follow-btn btn bg-green">Follow</a>
  </aside>

  <footer>
    <ul>
      <li>X Comments</li>
      <li>Share</li>
      <li>Favourite</li>
    </ul>
  </footer>
</section>
