<app-modal>
  <div class="form-container">
    <form [formGroup]="loginForm" class="form" (ngSubmit)="login()">
      <!-- Close button -->
      <button type="button" (click)="closeLogIn()" class="form__close-btn">
        <i class="fas fa-times"></i>
      </button>

      <!-- Login error -->
      <div *ngIf="loginError" class="alert">
        <p>{{ loginError }}</p>
      </div>

      <!-- Email -->
      <fieldset class="form__email">
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          [attr.data-empty]="isEmailEmpty"
        />
        <label for="email">Email</label>
      </fieldset>

      <!-- Password -->
      <fieldset class="form__password">
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          [attr.data-empty]="isPasswordEmpty"
        />
        <label for="password">Password</label>
      </fieldset>

      <!-- Submit button -->
      <button type="submit" class="btn bg-green form__submit">Log In</button>
    </form>
  </div>
</app-modal>
